extends ../layout

block header
	.blue.darken-4.header
		.container.white-text
			h2 Add Collection

block content
	form(action='/collections/add', method='POST')
		input(type='hidden', name='_csrf', value=_csrf)
		.input-field
			input(id="name", name="name", type="text", class="validate")
			label(for="name") Name
		.input-field
			textarea(id="description", name="description", class="materialize-textarea")
			label(for="description") Description
		button(action="submit", class="waves-effect waves-light light-blue darken-1 btn") Add
