extends ../layout

block header
  .teal.darken-1.header
    .container.white-text
      h2 Sign Up
      p.flow-text This is for teachers or parents. Once signed up you can create codes for your children to access the resources you set them.

block content
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .input-field
      i.mdi-action-account-circle.prefix
      input(type='text', name='name', id='name', placeholder='Name', autofocus)
    .input-field
      i.mdi-communication-email.prefix
      input(type='email', name='email', id='email', placeholder='Email')
    .input-field
      i.mdi-communication-vpn-key.prefix
      input.form-control(type='password', name='password', id='password', placeholder='Password')
    .input-field
      i.mdi-hardware-keyboard-control.prefix
      input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
    .input-field
      button.waves-effect.waves-light.btn(type='submit')
        i.mdi-action-face-unlock.right
        | Signup
