if messages.errors
  for error in messages.errors
    script.
      toast('#{error.msg}', 4000, 'red darken-1')
if messages.info
  for error in messages.info
    script.
      toast('#{error.msg}', 4000, 'blue darken-1')
if messages.success
  for error in messages.success
    script.
      toast('#{error.msg}', 4000, 'green darken-1')