extends ../layout

block header
	.red.darken-2.header
		.container.white-text
			h2 Add Item to #{collection.name}

block content
	form(action='/collection/#{collection.slug}/items/add', method='POST', enctype="multipart/form-data")
		input(type='hidden', name='_csrf', value=_csrf)
		.input-field
			input(id="name", name="name", type="text", class="validate")
			label(for="name") Name
		h5 Images
		#images
			.file-field.input-field
				input.file-path.validate(type="text")
				.btn
					span File
					input(name="files", type="file")
		h5 Sounds
		#sounds
			.file-field.input-field
				input.file-path.validate(type="text")
				.btn
					span File
					input(name="files", type="file")
		button(action="submit", class="waves-effect waves-light light-blue darken-1 btn") Add Item
